{% extends 'base.html' %} {% load static %} {% block title %}기록 페이지{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/records.css' %}" />
{% endblock %} {% block content %} <img src="{% static "img/record_page.png" %}" class="data_title">

<div class="go_back">
  <div>{{ game.play_count }}번째 삶 - {{ game.region }}</div>
  <a href="{% url 'records:list' %}">뒤로가기</a>
</div>

<div class="result_box">
  <div class="money">
    <div class="cate">총 소지금</div>
    <div class="data">{{ game.current_money }}만원</div>
  </div>
  <div class="job">
    <div class="cate">직업</div>
    <div class="data">{{ game.job.name }}</div>
  </div>
  <div class="house">
    <div class="cate">주거지</div>
    <div class="data">{{ game.house }}</div>
  </div>
  <div class="play">
    <div class="cate">놀러간 곳</div>
    <div class="data">{{ game.visited_place }}</div>
  </div>
  <div class="make_food">
    <div class="cate">음식</div>
    <div class="data">{{ game.cooked_food }}</div>
  </div>
  <div class="restaurant">
    <div class="cate">음식</div>
    <div class="data">{{ game.visited_restaurant }}</div>
  </div>
</div>
{% endblock %}
