{% extends 'base.html' %} {% load static %} {% block title %}데이터 열람 페이지{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/data_list.css' %}" />
{% endblock %} {% block content %} <img src="{% static "img/open_data.png" %}" class="data_title">
<ul>
  {% for region in regions %}
  <li>
    <div class="region_data">
      <div class="region_name">{{ region }}</div>
      <a href="{% url 'datas:region_detail' region %}">열람</a>
    </div>

    <hr />
    <img src="{% static "img/chungsong.png" %}" class="map" >
  </li>
  {% endfor %}
</ul>

{% endblock %}
