{% extends 'base.html' %} {% load static %} {% block title %}{{ region_name }} 관광 데이터{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/region_detail.css' %}" />
{% endblock %} {% block content %} <img src="{% static "img/open_data.png" %}" class="data_title">
<h1>{{ region_name }} 관광 데이터</h1>

<div class="page_border">
  <div class="location">
    <div class="region_name">{{ region_name }}</div>
    <a href="{% url 'datas:list' %}">뒤로 가기</a>
  </div>
  <img src="{% static "img/tour_detail1.png" %}"> <img src="{% static "img/tour_detail2.png" %}"> <img src="{% static "img/tour_detail3.png" %}"> <img
  src="{%static "img/tour_detail4.png" %}">
  <div class="data_bar">
    <img src="{%static "img/car.png" %}">
    <div>청송군 관광 안내 홈페이지</div>
    <a href="https://www.cs.go.kr/tour.web">바로가기</a>
  </div>
</div>

{%endblock%}
