{% load static %}

<div class="container">
    <h2>축제의 달</h2>
    <p>{{ game.current_month }}월 {% if game.is_morning == 1 %}오전{% elif game.is_morning == 2 %}오후{% endif %}</p>
    <p>총 자산: {{ game.current_money }}만원</p> 
    <p>직업: {{ game.job }}</p>
    <p>집: {{ game.house }}</p>
    
    {% if game.is_morning == 1 %}
    <div class="festival-content">
        <p>오늘은 휴일이라 축제에 놀러왔습니다.</p>
        <p>지금은 청송사과 축제가 열렸네요!</p>
        <img src="{% static 'img/apple1.png' %}"/>
        <p>청송군에서는 매우 유명한 
            청송꿀사과를 특산물로 내세우고 있습니다. 
            청송사과는 청송 5일장에서 쉽게 구할 수 있으며
            종종 사과를 주제로 한 지역 축제가 열리기도 합니다.</p>
    </div>
    {% elif game.is_morning == 2 %}
    <div class="festival-content">
        <p>프로그램은 전부 무료랍니다.</p>
        <p>체험해보고 가세요!</p>
        <img src="{% static 'img/apple2.png' %}"/>
        <p>주요 프로그램으로는
            청송사과 퍼레이드, 청송사과 꽃줄 엮기 전국대회 등이 있으며
            만보기가 달린 방망이를 휘두르는 사과난타, 사과풍선 중
            황금사과를 찾는 체험 이벤트를 즐길 수 있습니다.</p>
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">다음으로</button>
    </form>
</div>