
{% extends 'gamebase.html' %} {% load static %} {% block title %}아픔 이슈{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gamebase.css' %}" />
<link rel="stylesheet" href="{% static 'css/night.css' %}" />
{% endblock %}{% block day_night %}
<img src="{%static "img/night.png" %}">
{% endblock %}{% block game_info %}
<div class="warning"><img src="{% static "img/warning.png" %}"></div>
<div class="hos_info">
  <div>몸이 우리한데...</div>
  <div><span class="pink">병원</span> 가야 하는 거 아이가?</div>
</div>

{% endblock %} {% block game_content %}
<img src="{% static 'img/sick.png' %}" alt="Hospital Event" />
 {% endblock %}{% block game_info2 %}
  <div>퍼뜩 병원 가라!</div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="next"><img src="{%static "img/game_next_btn.png" %}"></button>
  </form>
</div>
{% endblock %}