
{% extends 'gamebase.html' %} {% load static %} {% block title %}병원 방문{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gamebase.css' %}" />
<link rel="stylesheet" href="{% static 'css/night.css' %}" />
{% endblock %}{% block day_night %}
<img src="{%static "img/night.png" %}">
{% endblock %}{% block game_info %}
<div><span class="blue">{{ hospital.name }}</span>에 왔습니다.</div>
<div><span class="pink">{{ hospital.description }}</span></div>
{% endblock %} {% block game_content %}
<img src="{% static 'img/hospital.png' %}" alt="Hospital" />
 {% endblock %}{% block game_info2 %}
  <div>{{ hospital.disease }}</div>
  <div>총 <span class="pink">{{ hospital.price }}만원</span>이 지출되었습니다.</div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="next" style="top:0px"><img src="{%static "img/game_next_btn.png" %}"></button>
  </form>
</div>
{% endblock %}

<!-- 희원
        <p>{{ hospital.name }}에 왔습니다.</p>
        <p>{{ hospital.description }}</p>
        <img src="{% static 'img/hospital.png' %}" alt="Hospital" />
        <p>{{ hospital.disease }}</p>
        <p>총 {{ hospital.show_price }}원이 지출되었습니다.</p>
-->