{% extends 'gamebase.html' %} {% load static %} {% block title %}직업 선택{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gamebase.css' %}" />
<link rel="stylesheet" href="{% static 'css/job_detail.css' %}" />
{% endblock %} {% block day_night %} <img src="{%static "img/day.png" %}"> {% endblock %}{% block game_info %}

<div>당신은 <span class="blue">{{ job.name }}</span>입니다!</div>
<div>매월 <span class="pink">{{ job.salary }}</span>만원 급여를 지급합니다.</div>
{% endblock %} {% block game_content %} {% if job.profile_image %}
<img src="{% static job.profile_image %}" alt="{{ job.name }}" />
{% endif %}
<form method="post">
  {% csrf_token %} {% endblock %} {% block game_info2 %}
  <div>{{ job.description }}</div>
  <button type="submit" class="next"><img src="{%static "img/game_next_btn.png" %}"></button>
  {% endblock %}
</form>
