{% extends 'gamebase.html' %} {% load static %} {% block title %}맛집 탐방{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gamebase.css' %}" />
<link rel="stylesheet" href="{% static 'css/morning.css' %}" />
{% endblock %}{% block game_info %}
<div>{{ restaurant.name }}으로 향했습니다.</div>
<div>맛이 일품이네요!</div>
{% endblock %} {% block game_content %}

<div class="container">
  {% comment %}
  <p>{{ game.current_month }}월 오전</p>
  {% endcomment %} {% if game.job.work_image %}
  <img src="{% static game.job.work_image %}" alt="{{ game.job }}" />
  {% endif %} {% endblock %}{% block game_info2 %}
  <div>{{ restaurant.price }}만원을 지출하였습니다.</div>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="next"><img src="{%static "img/game_next_btn.png" %}"></button>
  </form>
</div>
{% endblock %}

<!-- 희원
        <div class="mb-6">
            <p class="text-lg mb-2">주문하신 메뉴의 가격은 {{ restaurant.price }}만원입니다.</p>
            <p class="text-gray-600">총 자산: {{ game.current_money }}만원</p>
        </div>

        {% if restaurant %}
        <div class="mb-6">
            <p>{{ restaurant.menu }}</p>
            <img src="{% static restaurant.menu_img %}"/>
            <p>{{ restaurant.real_price }}</p>
        </div>
        {% endif %}
-->