{% extends 'gamebase.html' %} {% load static %} {% block title %}직업 선택{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/gamebase.css' %}" />
<link rel="stylesheet" href="{% static 'css/select_job.css' %}" />
{% endblock %} {% block game_content %}

<form method="post">
  {% csrf_token %}

  <div class="job-container">
    <div class="job-list">
      {% for job in jobs %}
      <div class="job-card">
        <input type="radio" name="{{ job.id }}" id="{{ job.id }}" value="{{ job.id }}" onclick="selectBox(event)" />
        <label for="{{ job.id }}">{{ job.name }}</label>
        {% if job.profile_image %}
        <img src="{{ job.profile_image }}" alt="{{ job.name }}" />
        {% endif %}
      </div>
      {%endfor%}
    </div>
  </div>
  <button type="submit" class="select-btn"><img src="{%static "img/game_next.png"%}" ></button>
</form>

<script>
  function selectBox(event) {
    // 모든 label에서 'selected' 클래스 제거
    document.querySelectorAll("label").forEach((label) => {
      label.classList.remove("selected");
    });

    // 클릭된 input 요소의 id
    const inputId = event.target.id;

    // input에 연결된 label 선택
    const label = document.querySelector(`label[for='${inputId}']`);

    // 클릭된 label에 'selected' 클래스 추가
    if (label) {
      label.style.border = "2px solid #c06a89";
    }
  }
</script>

{% endblock %}
