{% extends 'base.html' %} {% load static %} {% block title %}회원가입{% endblock %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %}
{% block content %}

    <div class="signup">
        <div class="ht2">회원가입</div>

        <form method="post" action={% url 'accounts:signup' %} class="form">
            {% csrf_token %}
            <div class="input">
                <div>Nickname</div>
                <input type="text" id="id_nickname" name="nickname" placeholder="이름을 입력해주세요"></div>
            <div class="input">
                <div>ID</div>
                <input type="text" id="id_username" name="username" placeholder="아이디을 입력해주세요"></div>
            <div class="input">
                <div>Password</div>
                <input type="password" id="id_password1" name="password1" placeholder="비밀번호을 입력해주세요"></div>
            <div class="input">
                <div>Confirm Password</div>
                <input type="password" id="id_password2" name="password2" placeholder="비밀번호을 다시 입력해주세요"></div>
            <button type="submit" class="accounts_btn">
                <div class="accounts_text">가입하기</div>
            </button>
        </form>
    </div>
    
    <div class="go_login">
        <div class="go_su_btn">이미 계정이 있나요?</div>
        <a href="{% url 'accounts:login' %}">로그인하기</a>
    </div>
{% endblock %}