.data_title {
  width: 359px;
  height: 85px;
  margin: 30%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-image: url("../img/data_sum.png");
  width: 355px;
  height: 415px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  width: 316px;
  color: #c06a89;
}

.map {
  width: 313px;
  height: 253px;
}

.region_data {
  width: 100%;
  height: 10%;
  background-image: url("../img/data_title.png");
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  padding-bottom: 20%;
}
