.fes_info2 {
  position: relative;
  bottom: 95px;
}

.next {
  position: absolute;
  top: 625px;
  left: 355px;
}

.game_contents {
  height: 290px;
}

.user_datas {
  top: 25px;
}
.user_data {
  font-size: 13px;
}

.fest_cat {
  position: relative;
  bottom: 95px;
  right: 140px;
}

.fest_cats {
  position: relative;
  bottom: 90px;
}
