.game_info {
  width: 352px;
  height: 120px;
  background-image: url("../img/game_info.png");
  background-size: 352px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game_info2 {
  width: 363px;
  height: 77px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.content {
  position: relative;
  bottom: 40px;
}

.game_contents {
  width: 414px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  position: relative;
  left: 11em;
}

.user_datas {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  top: 20px;
}

.user_data img {
  width: 25px;
  height: 25px;
}

.user_data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 140px;
  height: 43px;
  border-radius: 5px;
  background-color: white;

  box-shadow: 0 5px 5px -5px;

  margin-bottom: 5px;
}
