.game_info {
  width: 352px;
  height: 120px;
  background-image: url("../img/game_info.png");
  background-size: 352px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.game_info2 {
  width: 383px;
  height: 97px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.content {
  position: relative;
  bottom: 40px;
}
