title {
  display: none;
}

header img,
* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.ht1 {
  font-size: 30px;
  color: #438740;
  margin-top: 20px;
}

.go_signup {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.go_signup a {
  margin-left: 5px;
  color: #438740;
  text-decoration: none;
}

.message .error {
  color: #ff0000;
}
