header {
  width: 100%;
  height: 160px;
  background-image: url("../img/main_info.png");
  background-size: 373px 156px;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 1;
  position: relative;
  top: 20px;
}

.accounts_btn {
  z-index: 5;
}

.logout img {
  width: 78px;
  height: 20px;
}

.logout {
  position: relative;
  bottom: 21px;
  left: 122px;
}

.user_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  position: relative;
  bottom: 15px;
}

.profile {
  width: 77px;
  height: 71px;
}

.nickname {
  color: #c06a89;
  font-size: 20px;
  margin-bottom: 10px;
}

span {
  color: #c06a89;
}

.main_main {
  width: 100%;
  height: 300px;
  background-image: url("../img/homepage.png");
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: space-between;
}

.main_main a {
  height: 114px;
  position: relative;
  top: 150px;
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
  header {
    width: 100%;
    height: 70vw;
    background-size: 80% 30vw;
    top: 8%;
  }

  .logout img {
    width: 16vw;
    height: 4vw;
  }
  .logout {
    position: relative;
    bottom: 3vh;
    left: 26vw;
  }
  .user_info {
    gap: 3vw;

    position: relative;
    bottom: 2vh;
  }
  .profile {
    width: 17vw;
    height: 14vw;
  }

  .main_info div {
    font-size: 3vw;
  }

  .main_info .nickname {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  .main_main {
    width: 100%;
    height: 150vw;
    background-size: 90vw 90vw;
  }

  .main_main img {
    height: 30vw;
    position: relative;
    top: 20vh;
  }

  .accounts_btn {
    font-size: 4vw;
    background-size: 90%;
    position: relative;
    top: 2vw;
  }
}

@media all and (max-width: 768px) {
  header {
    width: 100%;
    height: 70vw;
    background-size: 90% 40vw;
    top: 8%;
  }

  .logout img {
    width: 20vw;
  }
  .logout {
    position: relative;
    bottom: 2.5vh;
    left: 30vw;
  }

  .user_info {
    gap: 1.7vw;

    position: relative;
    bottom: 1.2vh;
  }

  .accounts_btn {
    font-size: 4vw;
    background-size: 90%;
    position: relative;
    top: 5vh;
  }
  .main_main {
    width: 100%;
    height: 220vw;
    background-size: 90vw 90vw;
    position: relative;
  }

  .main_main img {
    height: 30vw;
    position: relative;
    top: 20vh;
  }
}
