html {
  background-image: url("../img/signup_bg.png");
  background-repeat: no-repeat;
}

.signup {
  margin-top: 160px;
}

.input input {
  margin: 7px;
}

.input div {
  margin-left: 10px;
}

.go_login {
  display: flex;
  flex-direction: row;

  position: relative;
  margin-top: 10px;
}

.go_login a {
  margin-left: 5px;
  color: #438740;
  text-decoration: none;
}
