{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>맞춤 지역 선택지</title>
    <link rel="stylesheet" href="{% static "css/test.css" %}">
  </head>
  <body>
    <form method="post">
      {% csrf_token %} {% comment %} <strong>질문 {{ current_question }}:</strong> {% endcomment %}
      <div class="question-box">
        <div class="question">{{ question.question }}</div>
      </div>

      <div class="img-box">    
        {% if current_question == 1 %}
        <img src="{% static 'img/question_1.png' %}">
        {% elif current_question == 2 %}
        <img src="{% static 'img/question_2.png' %}">
        {% elif current_question == 3 %}
        <img src="{% static 'img/question_3.png' %}">
        {% elif current_question == 4 %}
        <img src="{% static 'img/question_4.png' %}">
        {% elif current_question == 5 %}
        <img src="{% static 'img/question_5.png' %}">
        {% endif %}
    </div>

      <div class="select-container">
        <div class="row">
          {% for choice in question.choices %}
            <div class="select-box">
              <input type="radio" name="choice" id="{{ forloop.counter0 }}" value="{{ forloop.counter0 }}" onclick='selectBox(event)' />
              <label for="{{ forloop.counter0 }}">{{ choice.text }}</label>
            </div>
            {% if forloop.counter|divisibleby:2 %}
              </div><div class="row">
            {% endif %}
          {% endfor %}
        </div>
      </div>
      

      <button type="submit"><img src="{% static "img/next_btn.png" %}" class="next"></button>
    </form>

    <script src="{% static "js/test.js" %}"></script>
  </body>
</html>
